#parent {
	width: 300px;
	border: 1px dashed blue;
}

#child {
	height: 200px;
	border: 1px solid orange;
	margin: 40px;
}
#parent1 {
    width: 400px;
    border: 1px dashed blue;
}

#child1{

    margin: 25px;
    border: 1px dashed green;
}
#child2{
height: 200px;
    margin: 25px;
    border: 1px solid red;
}
#text1{
	width: 300px;
	border: 1px solid red;
	text-align: justify;
    margin: 30px;

}